In [5]:
n,m,k = int(input("Enter start range: ")),int(input("Enter stop range: ")),int(input("Enter step range: "))
for i in range(n,m,k):
    print(i,end=" ")

Enter start range: -10
Enter stop range: -20
Enter step range: 2

## While:
    Syntax:
        variableinitialization
        while condition:
            //stmnts
            incr/decr

In [3]:
v = int(input("Enter a range: "))
i = 0
while i<v:
    i +=1
    print(i,end=" ")

Enter a range: 10
1 2 3 4 5 6 7 8 9 10

In [5]:
i = int(input("Enter start range: "))
v = int(input("Enter end range: "))
while i<v:
    i +=1
    print(i,end=" ")

Enter start range: 200
Enter end range: 250
201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250

In [10]:
k = int(input("Enter ending range: "))
j = 0
while k>j:
    print(k,end=" ")
    k -=1

Enter ending range: 10
10 9 8 7 6 5 4 3 2 1

## Jumping Statements:
    - break => It exists from a loop
    - continue => It skips a value from a loop
    - pass => It works like continue but in functions it states for further enhancements
    - return => It returns single or multiple values from a function

In [13]:
n = int(input("Enter a range: "))
for i in range(n):
    print(i,end=" ")
    if i == 5:
        break

Enter a range: 1000
0 1 2 3 4 5

In [17]:
k = int(input("Enter a range: "))
for i in range(k):
    if i%21!=0:
        break
    print(i,end=" ")

Enter a range: 50
0

In [19]:
n = int(input("Enter a range: "))
e = int(input("Enter a range number to exit: "))
for i in range(n):
    if i == e:
        break
    elif i%2==0:
        print(f"{i} is even")
    elif i%5==0:
        print(f"{i} is divisible by 5")
    else:
        print(i)

Enter a range: 20
Enter a range number to exit: 10
0 is even
1
2 is even
3
4 is even
5 is divisible by 5
6 is even
7
8 is even
9

In [22]:
k = int(input("Enter a range: "))
for i in range(k):
    if i%2==0 or i%5==0:
        continue
    print(i,end=" ")

Enter a range: 20
1 3 7 9 11 13 17 19

In [27]:
k = int(input("Enter a range: "))
for i in range(k):
    if i==5:
        pass
    print(i,end=" ")

Enter a range: 20
0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [30]:
while True:
    print("1.Addition\n2.Substraction\n3.Multiplication\n4.Exit\n")
    op = int(input("Enter your Choice: "))
    if op == 1:
        n = int(input("Enter First Value: "))
        m = int(input("Enter Second Value: "))
        print(f"Addition of {n} and {m} is: {n+m}")
    elif op == 4:
        break
    elif op == 2:
        n = int(input("Enter First Value: "))
        m = int(input("Enter Second Value: "))
        print(f"Substraction of {n} and {m} is: {n-m}")
    elif op == 3:
        n = int(input("Enter First Value: "))
        m = int(input("Enter Second Value: "))
        print(f"Multiplication of {n} and {m} is: {n*m}")
    else:
        print("Please Enter Valid Option\n")

1.Addition
2.Substraction
3.Multiplication
4.Exit

Enter your Choice: 1
Enter First Value: 5
Enter Second Value: 6
Addition of 5 and 6 is: 11
1.Addition
2.Substraction
3.Multiplication
4.Exit

Enter your Choice: 6
Please Enter Valid Option

1.Addition
2.Substraction
3.Multiplication
4.Exit

Enter your Choice: 4

## Inner Loops:
    - Loop within a loop
    Syntax:
        Outerloop:
            Innerloop:
                //stmnts

In [37]:
n = int(input("Enter size: "))
for i in range(n):
    for j in range(n):
        print("*",end=" ")
    print()

Enter size: 5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [43]:
n = int(input("Enter size: "))
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1:
            print("*",end=" ")
        else:
            print("#",end=" ")
    print()

Enter size: 7
* * * * * * *
* # # # # # *
* # # # # # *
* # # # # # *
* # # # # # *
* # # # # # *
* * * * * * *

In [57]:
r = 1
for i in range(5):
    for j in range(7):
        if r>=32:
            break
        else:
            if i == 2:
                print("::",end=" ")
            elif j == 1:
                print("||",end=" ")
            elif r%2==0:
                print("**",end=" ")
            elif r%3==0:
                print("##",end=" ")
            elif r<=15:
                print("()",end=" ")
            else:
                print("[]",end=" ")
        r+=1
    print()

() || ## ** () ** ()
** || ** () ** () **
:: :: :: :: :: :: ::
** || ** [] ** ## **
[] || []

## Data Structures:
    - To organize the data in order or unorder format
    - list
    - tuple
    - set
    - dictionary
    - string

## List:
    - it can be represented as [] and seperated dat types by using ','
    - it stores the data in order format
    - it can changes the values
    - it stores all data type values
    - slicing can be done because of index
    - it can be typecasted as list()
    - it stores duplicate values

In [62]:
k = [45,56.00,False,9+8j,'Prasad',45,45,45,4,5]
print(k,type(k))
print(k[2])

[45, 56.0, False, (9+8j), 'Prasad', 45, 45, 45, 4, 5] <class 'list'>
False

## Slicing:

In [74]:
m = [45,8,9,6,5,5,4,31,2,2,0]
print(m)
print(m[2])
print(m[-3])
print(m[:])
print(m[2:])
print(m[-4:])
print(m[:4])
print(m[:-2])
print(m[2:7])
print(m[2:-3])
print(m[-7:6])
print(m[-5:-3])

[45, 8, 9, 6, 5, 5, 4, 31, 2, 2, 0]
9
2
[45, 8, 9, 6, 5, 5, 4, 31, 2, 2, 0]
[9, 6, 5, 5, 4, 31, 2, 2, 0]
[31, 2, 2, 0]
[45, 8, 9, 6]
[45, 8, 9, 6, 5, 5, 4, 31, 2]
[9, 6, 5, 5, 4]
[9, 6, 5, 5, 4, 31]
[5, 5]
[4, 31]

In [78]:
n = [78,8,5,6,9,8,5,2,5,5,2,5]
print(n)
print(n[::])
print(n[3::])
print(n[-5::])
print(n[::-1])

[78, 8, 5, 6, 9, 8, 5, 2, 5, 5, 2, 5]
[78, 8, 5, 6, 9, 8, 5, 2, 5, 5, 2, 5]
[6, 9, 8, 5, 2, 5, 5, 2, 5]
[2, 5, 5, 2, 5]
[5, 2, 5, 5, 2, 5, 8, 9, 6, 5, 8, 78]

In [81]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [93]:
k = [20,85]
print(k)
k.append([45,'Prasad'])
print(k)

[20, 85]
[20, 85, [45, 'Prasad']]

In [88]:
print(k)
print(k[2][1])

[20, 85, [67, 78]]
78

In [99]:
m = [12,78,56]
print(m)
m.extend([45,'Ramesh'])
print(m)

[12, 78, 56]
[12, 78, 56, 45, 'Ramesh']

In [101]:
print(m)
m.insert(0,["Suresh",45])
print(m)

['Suresh', 12, 78, 56, 45, 'Ramesh']
[['Suresh', 45], 'Suresh', 12, 78, 56, 45, 'Ramesh']

In [102]:
print(m)
m.pop()
print(m)

[['Suresh', 45], 'Suresh', 12, 78, 56, 45, 'Ramesh']
[['Suresh', 45], 'Suresh', 12, 78, 56, 45]

In [103]:
print(m)
m.pop(0)
print(m)

[['Suresh', 45], 'Suresh', 12, 78, 56, 45]
['Suresh', 12, 78, 56, 45]

In [105]:
print(m)
m.remove(78)
print(m)

['Suresh', 12, 78, 56, 45]
['Suresh', 12, 56, 45]

In [106]:
print(m)
m.remove(400)
print(m)

['Suresh', 12, 56, 45]

ValueError: list.remove(x): x not in list

In [107]:
print(m)
print(m.index(100))

['Suresh', 12, 56, 45]

ValueError: 100 is not in list

In [108]:
print(m)
print(m.index(12))

['Suresh', 12, 56, 45]
1

In [109]:
k = m.copy()
print(m)
print(k)

['Suresh', 12, 56, 45]
['Suresh', 12, 56, 45]

In [111]:
n = [45,89,45,12,45,78]
print(n)
print(n.count(45))
print(n.count(23))

[45, 89, 45, 12, 45, 78]
3
0

In [112]:
print(n)
n.clear()
print(n)

[45, 89, 45, 12, 45, 78]
[]

In [114]:
print(k)
del k
print(k)

['Suresh', 12, 56, 45]

NameError: name 'k' is not defined

In [115]:
h = [12,800,96,56,2]
print(h)
h.sort()
print(h)

[12, 800, 96, 56, 2]
[2, 12, 56, 96, 800]

In [117]:
p = [12,800,56,98]
print(p)
p.reverse()
print(p)

[12, 800, 56, 98]
[98, 56, 800, 12]

In [118]:
h = [45,859.000,'Prasanna',False]
for i in h:
    print(i)

45
859.0
Prasanna
False

In [119]:
for i in range(len(h)):
    print(i,h[i])

0 45
1 859.0
2 Prasanna
3 False

## Tuple:
    - it can be representes as () and seperted with ','
    - it stores the data in ordered format
    - it allows all data type values
    - it cant changes the values
    - slicing can be done because of index values
    - it can be typecasted as tuple()
    - it allows duplicate elements

In [122]:
j = (45,78.000,'Tilak',True,9+5j,45)
print(j,type(j))
print(j[0])

(45, 78.0, 'Tilak', True, (9+5j), 45) <class 'tuple'>
45

In [123]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [126]:
h = (45,78,45,96,'Lalitha')
print(h)
print(h.count(45))
print(h.count(100))
print(h.index(45))
print(h.index(-89))

(45, 78, 45, 96, 'Lalitha')
2
0
0

ValueError: tuple.index(x): x not in tuple

In [127]:
for i in h:
    print(i)

45
78
45
96
Lalitha

In [128]:
for i in range(len(h)):
    print(i,h[i])

0 45
1 78
2 45
3 96
4 Lalitha